@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #16181b !important;
  background-attachment: fixed;
  color: #b1bdb4 !important;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 0px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  background-color: #16181b;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header__menu {
  display: none;
}

.header__logo {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.header form {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1rem;
  margin: 0 1rem;
  border-radius: 3px;
  border: 1.2px solid;
  background-color: #121417;
}

.header form input {
  width: 100%;
  border: none;
  font-weight: 500;
  background: transparent;
  padding: 0.3rem;
  color: #b1bdb4;
}

.header form input:focus {
  outline: none;
}

.header form button {
  padding: 0 1.25rem;
  color: #b1bdb4;
  background: transparent;
  border: none;
}

.header form button:focus {
  border: none;
}

.header__icons {
  -webkit-box-flex: 0.15;
      -ms-flex: 0.15;
          flex: 0.15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons img {
  border-radius: 50%;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 5px;
}

@media (max-width: 520px) {
  .header {
    padding: 1rem;
  }
  .header form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header__menu {
    display: block;
  }
  .header__logo {
    display: none;
  }
  .header__icons > *:not(img) {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #16181b !important;
  background-attachment: fixed;
  color: #b1bdb4 !important;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 0px;
}

.sidebar {
  background-color: #121417;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 90vh;
  padding-top: 2rem;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  left: 0;
}

.sidebar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1.5rem;
  margin: 0.2rem 0;
  cursor: pointer;
}

.sidebar li span {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.sidebar li:hover {
  background-color: #4c4c4c;
}

.sidebar hr {
  background-color: #4c4c4c;
}

.sidebar.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media (max-width: 1224px) {
  .sidebar {
    width: 90px;
  }
  .sidebar li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar span {
    display: none;
  }
}

@media (max-width: 520px) {
  .sidebar {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    position: fixed;
    z-index: 999;
  }
}

.CategoriesBar {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.CategoriesBar::-webkit-scrollbar {
  width: 0px;
}

.CategoriesBar span {
  margin-right: 1rem;
  padding: 0.5rem;
  white-space: nowrap;
  border: 1.5px solid #b1bdb4;
  border-radius: 999px;
}

.CategoriesBar span:hover {
  background-color: #374a59;
}

.CategoriesBar span.active {
  color: #ffffff;
  background-color: #606060;
  border-color: #4c4c4c;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #16181b !important;
  background-attachment: fixed;
  color: #b1bdb4 !important;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 0px;
}

.video {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.video__top {
  margin-bottom: 0.5rem;
  position: relative;
}

.video__top .lazy-load-image-background {
  width: 100%;
}

.video__top img {
  width: 100%;
}

.video__top__duration {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  padding: 0.2rem;
  background: #080808ec;
  border-radius: 3px;
}

.video__title {
  margin-bottom: 0.1rem;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.video__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

.video__channel img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.video__channel p {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #16181b !important;
  background-attachment: fixed;
  color: #b1bdb4 !important;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 0px;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}

.login {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login__container {
  background-color: #121417;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__container button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.login__container button:focus {
  outline: none;
}

.login img {
  width: 130px;
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}

.watchScreen__player {
  height: 60vh;
  background-color: #353946;
  width: 100%;
  margin-bottom: 2rem;
}

.videoMetaData__top span {
  cursor: pointer;
}

.videoMetaData__channel {
  border-top: 0.2px solid #4c4c4c;
  border-bottom: 0.2px solid #4c4c4c;
}

.videoMetaData__channel img {
  width: 50px;
  height: 50px;
}

.videoMetaData__channel button {
  background-color: #CC0000;
  color: #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.videoMetaData__channel button:hover {
  color: #fff;
}

.videoMetaData__channel button:focus {
  border: none;
  outline: none;
}

.videoMetaData__description {
  font-size: 0.9rem;
  white-space: pre-line;
  border-bottom: 0.2px solid #4c4c4c;
}

.videoMetaData__description .showMoreText {
  text-decoration: none;
  display: block;
  margin: 1rem 0;
  color: #fff;
  font-weight: 500;
}

.comments__form img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.comments__form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #353946;
  color: #fff;
}

.comments__form input:focus {
  outline: none;
}

.comments__form button {
  background-color: #353946;
  color: #fff;
  letter-spacing: 0.5px;
}

.comments__form button:focus {
  border: none;
  outline: none;
}

.comment {
  font-size: 0.9rem;
  border-bottom: 2px solid #353946;
}

.comment img {
  width: 50px;
  height: 50px;
}

.comment__header {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #16181b !important;
  background-attachment: fixed;
  color: #b1bdb4 !important;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 0px;
}

.videoHrizontal {
  border-bottom: 0.3px solid #4c4c4c;
  cursor: pointer;
}

.videoHrizontal__left {
  position: relative;
  text-align: center;
}

.videoHrizontal__thumbnail {
  width: 100%;
}

.videoHrizontal__thumbnail-wrapper {
  width: 100%;
}

.videoHrizontal__duration {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  padding: 0.2rem;
  background: #080808ec;
  border-radius: 3px;
}

.videoHrizontal__details {
  font-size: 0.9rem;
}

.videoHrizontal__title {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.videoHrizontal__channel img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.videoHrizontal__channel p {
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 520px) {
  .videoHrizontal {
    font-size: 12px;
  }
  .videoHrizontal__details {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .videoHrizontal__channel {
    margin: 0.1rem 0;
  }
  .videoHrizontal__channel img {
    display: none;
  }
  .videoHrizontal__channel p {
    font-size: 0.9rem;
  }
  .videoHrizontal__title {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
/*# sourceMappingURL=style.css.map */